<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="BooksService.BooksService">
        <endpoint address="" binding="basicHttpBinding" contract="BooksService.IBooksService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9865/books"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>