<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/CinemasService/CinemasService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICinemasService"
        contract="CinemasServiceReference.ICinemasService" name="BasicHttpBinding_ICinemasService" />
      <endpoint address="http://localhost:9865/books" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IBooksService" contract="BooksServiceReference.IBooksService"
        name="BasicHttpBinding_IBooksService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICinemasService" />
        <binding name="BasicHttpBinding_IBooksService" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="MoviesService.MoviesServiceClass">
        <endpoint address="" binding="basicHttpBinding" contract="MoviesService.IMoviesService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9866/movies" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>